# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Kulikov_V_Generalized_Types.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
